// いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい

#include "\masm32\INCLUDE\Resource.h"

// いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい

1 24 "XinyiRun.xml"    // manifest file

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "XinyiRun.ico"

10 BITMAP DISCARDABLE "./image/number/0.bmp"
11 BITMAP DISCARDABLE "./image/number/1.bmp"
12 BITMAP DISCARDABLE "./image/number/2.bmp"
13 BITMAP DISCARDABLE "./image/number/3.bmp"
14 BITMAP DISCARDABLE "./image/number/4.bmp"
15 BITMAP DISCARDABLE "./image/number/5.bmp"
16 BITMAP DISCARDABLE "./image/number/6.bmp"
17 BITMAP DISCARDABLE "./image/number/7.bmp"
18 BITMAP DISCARDABLE "./image/number/8.bmp"
19 BITMAP DISCARDABLE "./image/number/9.bmp"

100 BITMAP DISCARDABLE "./image/XinyiRun_menu_backgroud.bmp"
110 BITMAP DISCARDABLE "./image/start_button_unclick.bmp"
111 BITMAP DISCARDABLE "./image/start_button_click.bmp"
120 BITMAP DISCARDABLE "./image/help_button_unclick.bmp"
121 BITMAP DISCARDABLE "./image/help_button_click.bmp"
130 BITMAP DISCARDABLE "./image/quit_button_unclick.bmp"
131 BITMAP DISCARDABLE "./image/quit_button_click.bmp"

200 BITMAP DISCARDABLE "./image/qXinyiRun_help.bmp"

300 BITMAP DISCARDABLE "./image/XinyiRun_scene.bmp"

310 BITMAP DISCARDABLE "./image/button/bridge.bmp"
311 BITMAP DISCARDABLE "./image/button/bridge_used.bmp"
320 BITMAP DISCARDABLE "./image/button/info.bmp"
321 BITMAP DISCARDABLE "./image/button/info_used.bmp"
330 BITMAP DISCARDABLE "./image/button/life.bmp"
340 BITMAP DISCARDABLE "./image/button/music_pause.bmp"
341 BITMAP DISCARDABLE "./image/button/music_start.bmp"
350 BITMAP DISCARDABLE "./image/button/stretch.bmp"
351 BITMAP DISCARDABLE "./image/button/stretch_used.bmp"
361 BITMAP DISCARDABLE "./image/player_walk.bmp"
362 BITMAP DISCARDABLE "./image/stand.bmp"

400 BITMAP DISCARDABLE "./image/XinyiRun_gameover.bmp"
1000 WAVE "./music/BGM.wav"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
// FILETYPE VFT_DLL
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "THSS2012\000"
      VALUE "FileDescription",  "XinyiRun\000"
      VALUE "FileVersion",      "1.0\000"
      VALUE "InternalName",     "Item Name\000"
      VALUE "OriginalFilename", "XinyiRun.exe\000"
      VALUE "LegalCopyright",   "\251 2012-2015\000"
      VALUE "ProductName",      "MASM32\000"
      VALUE "ProductVersion",   "1.0\000"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 0x4B0
  END
END

// いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい
